.page p {
    line-height: 25px;
    width: 50vh;
}

.page {
    align-items: center;
    justify-content: center;
}

#exSP {
	height: 5vh;
}



.projTitle {
    color: #100F12 !important;
}

/* .description p {
    color: #100F12 !important;
} */

@media screen and (max-width: 776px) {
    .page {
        height: auto !important;
    }

    .left.pnb {
        display: none;
    }
}