html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: soleil, sans-serif;
	background-color: #100F12;
	font-size: 18px;
	color: #EAEAEA;
	-webkit-overflow-scrolling: touch;
}

#scroller {
	bottom:0;
	left:0;
	height: 100%;
	width: 100%;
	overflow:auto;
	position:absolute;
	right:0;
	top:0;
	scroll-snap-type: y mandatory;
}

#exSP {
	height: 5vh;
}

.nav_container {
	box-sizing: border-box;
	/* height: 50px; */
	height: 5vh;
	width: 100%;
	position: relative;
	/* line-height: 50px; */
	line-height: 5vh;
	padding: 0 100px 0px 100px;
	z-index: 9999;
	transition: background-color .2s ease-in-out;
	/* mix-blend-mode: difference; */
}

.nav_container:hover {
	background-color: rgba(16, 15, 18, 1);
}

#name_wordmark, #email_me {
	float: left;
}

#work_links, #links, #work_links a, #hamburger_icon {
	float: right;
	display: flex;
	margin-left: 20px;
}

a {
	/* text-shadow: 0px 0px 1px; */
	/* mix-blend-mode: difference; */
}

.slide_menu {
    position: fixed;
    top: 0;
    right: 0;
	height: 100%;
	width: 180px;
    background-color: rgba(16, 15, 18, .75);
    z-index: 99999;
    padding: 80px 20px 20px 20px;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}

.slide_menu i {
    position: absolute;
    right: 20px;
    top: 6px;
    font-size: 32px;
}

.slide_menu a{
    margin-bottom: 5px;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
}

#links_slide {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

#links_slide a .icon_filter {
    margin-left: 0px;
    margin-right: 10px;
    height: 24px;
    width: auto;
}

.nav_container:hover {
	background-color: rgba(16, 15, 18, 1);
}

#name_wordmark, #email_me {
	float: left;
}

#work_links, #links, #work_links a, #hamburger_icon {
	float: right;
	display: flex;
	margin-left: 20px;
}

#work_links a, #name_wordmark a, #email_me a {
	text-decoration: none;
	color: inherit;
}

#work_links a:hover, #name_wordmark a:hover, #email_me:hover {
	color: grey;
}

#hamburger_icon {
	display: none;
}

#footer_wrapper {
	position: absolute;
	bottom: 0;
	white-space: nowrap;
}

#footer_wrapper a {
    height: 100%;
    display: flex;
    align-items: center;
}

#links {
	display: flex;
	align-items: center;
	justify-items: center;
	height: 100%;
}

.icon_filter {
	filter: invert(100%);
	height: 24px;
	width: auto;
	margin-left: 20px;
}

.icon_filter:hover {
	filter: invert(50%);
}

a:hover {
	cursor: pointer;
	color: grey;
}

h1 {
	font-size: 55px;
	font-family: poynter-oldstyle-display, serif;
	margin: 0;
}

#current_page {
    color: grey !important;
}

section {
	width: 100%;
	height: 90%;
	scroll-snap-align: center;
	background-repeat: no-repeat;
	position: relative;
	/* box-shadow: 0px 10px 10px 10px black; */
	/*margin-left: 100px;*/
}

#splash {
	position: relative;
	display: flex;
	align-items: center;
}

#splash_container {
	width: 576px;
	position: absolute;
	padding-left: 100px;
}

#drive_sans {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url(Focused/drive_sans/drive_sans_1.gif);
	background-size: cover;
	background-position: right;
}

#pill_pal {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url(Focused/pill_pal/hand2-02.jpg);
	background-size: cover;
	background-position: right;
}

#sixty_mile {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url(Focused/60_mile/card03.jpg);
	background-size: cover;
	background-position: right;
}

#the_groove {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url(Focused/the_groove/card01-03.jpg);
	background-size: cover;
	background-position: right;
}

.project_card {
	/* background-color: yellow; */
	/* background-image: url(glass.jpg); */
	background-size: cover;
	height: 100%;
	width: 100%;
	/*border-radius: 5px;*/
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.project_card:hover {
	cursor: pointer;

	/* .text_container {
		box-shadow: 0px 0px 15px grey;
		transition: box-shadow .2s ease-in-out;
	} */
}

.text_container {
	box-sizing: border-box;
	padding: 20px;
	background-color: rgba(16, 15, 18, .75);
	width: 350px;
	height: calc(100% - 200px);
	/*border-radius: 5px;*/
	margin-left: 80px;
	position: relative;
}

.text_container div p {
	line-height: 25px;
	margin: 0;
}

.upper_text h1 {
	margin-bottom: 10px;
}

.lower_text {
	position: absolute;
	bottom: 20px;
}

@media screen and (max-width: 776px) {
  h1 {
    font-size: 23px;
  }

  section {
  	/* margin-left: 20px; */
  	/* margin-right: 20px; */
  	width: 100%;
  }

  body {
  	font-size: 16px;
  }

  #splash_container {
	padding-left: 20px;
  	width: 240px;
  }

  .project_card {
  	width: 100%;
  }

  .nav_container {
	padding: 0 20px 0px 20px;
	background-color: rgba(16, 15, 18, 1);
  }

  .upper_text p, #work_links, #email_me, #links  {
  	display: none;
  }

	#work_links, #email_me, #links  {
		display: none;
	}

  #hamburger_icon {
  	display: flex;
  }

  .text_container {
  	width: calc(100vw - 40px);
  	height: auto;
  	margin-left: 20px;
  	margin-bottom: 20px;
  }

  .lower_text {
	  position: static;
  }

  .project_card {
  	align-items: flex-end;
  }

  .description {
	  margin-left: 20px;
  }

	#pill_pal {
		background-image: url(Focused/pill_pal/mobile-hand.jpg);
		background-position: right;
	}

	#sixty_mile {
		background-image: url(Focused/60_mile/mobile-card.jpg);
		background-position: center;
	}

}



